<html lang="en"
      data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Module" />

<f:section name="Content">
		<h1>Enabled Modules <small>Please check Extension Configuration of jwtools2, if you miss some modules here</small></h1>
        <br/>
		<div class="list-group">
			<f:if condition="{extConf.solrEnable}">
				<f:link.action action="list" controller="Solr" class="list-group-item">Solr</f:link.action>
			</f:if>
		</div>
</f:section>
</html>
