<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:t="http://typo3.org/ns/JWeiland/Jwtools2/ViewHelpers"
	data-namespace-typo3-fluid="true"
>
	<f:layout name="Default" />

	<f:section name="main">
		<h1>{site.label}</h1>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Next Run</h3>
			</div>
			<div class="panel-body">
				in {t:solr.nextRun(site: site)} seconds
			</div>
		</div>

		<f:if condition="{site.solrConfiguration.enabledIndexQueueConfigurationNames}">
			<h2>Enabled IndexQueue Configuration names</h2>
			<ul class="list-group">
				<f:for each="{site.solrConfiguration.enabledIndexQueueConfigurationNames}" as="configurationName">
					<li class="list-group-item">
						<f:link.action action="showIndexQueue" arguments="{rootPageUid: site.rootPageId, configurationName: configurationName}">
							{configurationName}
						</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:if>
	</f:section>
</html>
